<a href="https://colab.research.google.com/github/tao73bot/PythonLearing-BS/blob/main/Functional_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pure Function

- A pure function is that function if it run any number of time it will give same output.
- A function should not have any side effect means does not interact with outside of function scope

In [ ]:
def multiply_by2(li):
    new_li = []
    for item in li:
        new_li.append(item*2)
    return new_li

multiply_by2([1,2,3])

[2, 4, 6]

## map()

In [ ]:
my_list = [1,2,3]
def multiply_by2(item):
    return item*2

li = map(multiply_by2,my_list)
print(list(li))
print(my_list)

[2, 4, 6]
[1, 2, 3]

## filter()

In [ ]:
my_list = [1,2,3,4,5]
def check_odd(item):
    return item % 2

li = list(filter(check_odd,my_list))
print(li)
print(my_list)

[1, 3, 5]
[1, 2, 3, 4, 5]

### zip()

In [ ]:
my_list = [1,2,3]
your_list = [10,20,30]
our_list = [100,200,300]

li = list(zip(my_list,your_list))
print(li)
li2 = list(zip(my_list,your_list,our_list))
print(li2)

[(1, 10), (2, 20), (3, 30)]
[(1, 10, 100), (2, 20, 200), (3, 30, 300)]

### reduce()

In [ ]:
from functools import reduce

my_list = [1,2,3,4,5]
def accumulator(acc,item):
  return acc + item

li = (reduce(accumulator,my_list,0))
print(li)
print(my_list)

15
[1, 2, 3, 4, 5]

### lambda expression
- it is for one time work

In [ ]:
my_list = [1,2,3]

print(list(map(lambda item : item*2,my_list)))
print(my_list)

[2, 4, 6]
[1, 2, 3]

In [ ]:
my_list = [5,4,3]

print(list(map(lambda item : item**2,my_list)))
print(my_list)

[25, 16, 9]
[5, 4, 3]

In [ ]:
a = [(0,2),(4,3),(9,9),(10,-1)]

## sort the list according to second element
a.sort(key=lambda x : x[1])
a

[(10, -1), (0, 2), (4, 3), (9, 9)]

### List Comprehensions

In [ ]:
# Lets create a list of char where every element is from a string

# without comprehensions
s = "Taohid"

li = []
for i in s:
  li.append(i)

print(li)

['T', 'a', 'o', 'h', 'i', 'd']

In [ ]:
## With comprehension
li = [i for i in s]
print(li)

['T', 'a', 'o', 'h', 'i', 'd']

In [ ]:
# give me list where elements are 2's multiply of 0-100

li = [2*i for i in range(101)]
print(li)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [ ]:
## give a list where element are power of 2 of 1-100 and they are even

li = [num**2 for num in range(1,101) if num % 2 == 0]
li

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

### Set Comprehension

In [ ]:
s = {el for el in range(1,101)}
s

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

### dictionary comprehension

In [ ]:
simple_dict = {
     'a':1,
     'b':2
 }
my_dict = {key:value**2 for key,value in simple_dict.items()}

print(my_dict)

{'a': 1, 'b': 4}

In [3]:
some_list = ['a','b','c','d','b','m','n','n']

duplicates = list(set([item for item in some_list if some_list.count(item)>1]))
print(duplicates)

['n', 'b']