<a href="https://colab.research.google.com/github/tao73bot/PythonLearing-BS/blob/main/L2_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print('jsgbjgj')

jsgbjgj

# String and Int datatype

In [4]:
name = 'Avik'
print(name)
type(name)

Avik

str

In [5]:
name = str('Avik')
print(name)
type(name)

Avik

str

In [6]:
name = int('Avik')

ValueError: invalid literal for int() with base 10: 'Avik'

Exercise 1

In [7]:
name = str('Dark Vender')
print(name)
age = int(19)
print(age)

Dark Vender
19

# Float and Boolean dataype

In [9]:
pi = 3.14
print(pi)
type(pi)

3.14

float

In [10]:
salary = float(1000.40)
print(salary)
x = int(salary) # type conversion float to int
print(x)
type(x)

1000.4
1000

int

In [11]:
bool_example = True
print(bool_example)
type(bool_example)

True

bool

In [12]:
boolX = bool(2)
print(boolX)
type(boolX)

True

bool

# Casting

## 1. String to Int.
### Latin charecters can't be cast into int but numeric charecter can

In [13]:
name = str('Avik')
print(name)
name = int('Avik') # will show error for casting char

Avik

ValueError: invalid literal for int() with base 10: 'Avik'

In [14]:
age = str('1000')
print(type(age),age)
age = int('1000')
print(type(age),age)

<class 'str'> 1000
<class 'int'> 1000

## 2. float to int and int to float

In [15]:
cgpa = 3.48
print(type(cgpa),cgpa)
cgpa = int(cgpa)
print(type(cgpa),cgpa)

<class 'float'> 3.48
<class 'int'> 3

In [16]:
roll = 73
print(type(roll),roll)
roll = float(roll)
print(type(roll),roll)

<class 'int'> 73
<class 'float'> 73.0

## But when we cast float to int there can be a huge data lose. Like if we cast int(3.9) we will get 3. But it should be close to 4.To avoid this kind of situation we can use round() function

In [23]:
cgpa = float(3.9)
print(int(cgpa))
cgpa = round(cgpa)
print(cgpa)

3
4

In [22]:
cgpa = float(3.48)
print(int(cgpa))
cgpa = round(cgpa)
print(cgpa)

3
3

## Exercise of lesson 2

In [24]:
height = str(1.09)
print(height)
height = float(height)
height += 0.66
print(type(height),height)

1.09
<class 'float'> 1.75

## Final Exercise of lesson 2

In [26]:
usd_amount = 1000
exchange_rate = 0.85
eur_amount = float(usd_amount)*exchange_rate
eur_amount = int(eur_amount)
print(eur_amount)

850