<a href="https://colab.research.google.com/github/tao73bot/PythonLearing-BS/blob/main/L3_PythonMath%26String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Operator precedence
`1.() 2.** 3.* / 4.+ -`

## Exercise1 of L3

In [2]:
Ashoka_height = float(1.7)
Yoda_height = float(0.66)
R2D2_height = float(1.09)
C3P0_height = float(1.75)
avg_height = (Ashoka_height + Yoda_height + R2D2_height + C3P0_height) / 4
print(avg_height)

1.3

## Stringing variables

In [4]:
name = str('Avik')
print("Hi my name is " + name)
age = int(202)
height = float(0.66)
print("Hi I'm "+name+".My age is "+age+".My height is "+height) # will show error because string can't add float or int

Hi my name is Avik

TypeError: can only concatenate str (not "int") to str

### To solve the avobe problem we can do the following things

In [5]:
print("Hi I'm "+name+". My age is "+str(age)+".My height is "+str(height))

Hi I'm Avik. My age is 202.My height is 0.66

In [6]:
# or we can use f'' string
print(f'Hi I am {name}.My age is {age}.My height is {height}')

Hi I am Avik.My age is 202.My height is 0.66

## Final exercise of L3

In [7]:
principle = 1000
rate = 5
time = 2
interest = float(principle*rate*time)/100
print(float(principle),float(rate),float(time),interest)

1000.0 5.0 2.0 100.0