<a href="https://colab.research.google.com/github/tao73bot/PythonLearing-BS/blob/main/L4_Basic_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Some builtin functions
 - min()
 - max()
 - abs()
 - round()

In [1]:
a ,b,c,d = -20,19,-30,-3839.32
print(min(a,b,c))
print(max(a,b,c))
print(abs(c))
print(round(d))

-30
19
30
-3839

## Exercise 1 of L4

In [2]:
ashoka = 1.70
yoda = 0.66
R2D2 = 1.09
print(f'The minimum height is {min(ashoka,yoda,R2D2)}')
print(f'The maximum height is {max(ashoka,yoda,R2D2)}')
print(f'The average height is {(ashoka+yoda+R2D2)/3}')

The minimum height is 0.66
The maximum height is 1.7
The average height is 1.1500000000000001

## input() function
### with this function we only get string

In [4]:
name = input('Please enter your name ')
age = input('Please enter your age')
height = input('Please enter your height')
print("Your name is "+name+".You are "+age+"and "+height+"feet long")
type(age)

Please enter your name avik
Please enter your age2929
Please enter your height3884
Your name is avik.You are 2929and 3884feet long

str

## Custome python funtion

In [7]:
def sunk_info(who,current_year):
  year_passed = current_year - 1912;
  print(f'{who} sunk years {year_passed} ago')

who = input('who sunk? ')
current_year = int(input('Please enter current year'))
sunk_info(who,current_year)

who sunk? Avik & Fahad
Please enter current year2024
Avik & Fahad sunk years 112 ago

## Keyword argument and Default Argument

In [8]:
def info(name,age):
  print(f'your name is {name} and you are {age} years old')

info("Sizan",25)
info(age=25,name="Sizan") # keyword argument

your name is Sizan and you are 25 years old
your name is Sizan and you are 25 years old

In [9]:
def defaulArg(name="Taohid"):
  print('Your name is '+name)

defaulArg("Sizan")
defaulArg('Avik')
defaulArg()
defaulArg('Fahad')

Your name is Sizan
Your name is Avik
Your name is Taohid
Your name is Fahad

## Return value from function

In [10]:
def convert_meter_to_mile(meter):
  return meter*0.62

print(convert_meter_to_mile(100))

62.0

## Basic Calculator of two variable

In [16]:
num1 = float(input('Please enter 1st number'))
num2 = float(input('Please enter 2nd number'))
what_to_do = input('Please enter what to do')

def calculator(a,b,operation):
  if operation == '+':
    return a+b
  elif operation == '-':
    return a-b
  elif operation == '*':
    return a*b
  elif operation == '/':
    try:
      return a/b
    except ZeroDivisionError:
      return "Sorry you are dividing by zero!"
  else:
    return "Invalid syntax!"

calculator(num1,num2,what_to_do)

Please enter 1st number10
Please enter 2nd number0
Please enter what to do/

'Sorry you are dividing by zero!'