<a href="https://colab.research.google.com/github/tao73bot/PythonLearing-BS/blob/main/L5_List%26Sum_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## using list lets calculate sum()

In [1]:
# Create a list power
list_of_power = [10,202,30,45]

# Check type of list_of_power
print(type(list_of_power))

# calculate sum
total_power = sum(list_of_power)

print(total_power)

<class 'list'>
287

## Final task of level 5

In [5]:
shoping_list = ['Eggs','Bread','Bananas']
shoping_list.append('Apples')
print(shoping_list)
shoping_list.remove('Bread')
print(shoping_list)

def show_list(item):
  for i in item:
    print(i,end=' ')
  print()

def total_items(item):
  return len(item)

show_list(shoping_list)
print(total_items(shoping_list))

['Eggs', 'Bread', 'Bananas', 'Apples']
['Eggs', 'Bananas', 'Apples']
Eggs Bananas Apples
3

## List methods

### 1. append(value) -> insert a value at last of list

In [14]:
basket = [1,2,3,4,5,6,7,8]
basket.append(9)
basket

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 2. insert(index,value) -> insert a value at given index

In [15]:
basket.insert(0,101)
basket

[101, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### extend([v1,v2,...,vN]) -> insert a list of value at last

In [16]:
basket.extend([10,11,12])
basket

[101, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

### pop() -> remove and return the last element

In [17]:
basket.pop()

12

### pop(index) --> remove the given index element

In [18]:
print(basket)
basket.pop(0)
print(basket)

[101, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### remove(value) --> remove first occurence of the value

In [19]:
basket.remove(11)
basket

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### reverse() --> reverse the list

In [20]:
basket.reverse()
print(basket)
basket.reverse()
print(basket)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### index(value) --> return index of the given value if exits

In [21]:
basket.index(10)

9

In [22]:
basket.index(1000)

ValueError: 1000 is not in list

### index(value,start,end) --> return index if it is exits between start and end-1

In [23]:
basket.index(4,1,5)

3

In [24]:
basket.index(4,0,3)

ValueError: 4 is not in list

### in() --> return boolean if exits or not

In [25]:
4 in basket

True

In [26]:
12 in basket

False

### count(value) --> return number of occurence of value

In [28]:
print(basket.count(2))
print("Taohidul Islam".count('a'))

1
2

### sort() --> sort the list

In [29]:
basket.insert(0,100)
basket.sort()
print(basket)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

### builtin function sorted() --> return a new sorted list

In [30]:
basket.reverse()
new_basket = sorted(basket)
print(basket)
print(new_basket)

[100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

### copy() --> return a new copy of list

In [31]:
basket1 = basket.copy()
basket1

[100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### clear() --> remove all element of list

In [32]:
basket1.clear()
basket1

[]

### list() --> generate new list

In [34]:
list1 = list(range(0,100))
list2 = list(range(1,101,1))
list3 = list(range(1,101,2))
print(list1)
print(list2)
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]