<a href="https://colab.research.google.com/github/tao73bot/PythonLearing-BS/blob/main/L7_More_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuple
### Tuple defines with normal bracket '()' and it is immutable

## hack tuple and add an element to the tuple

In [1]:
tuple1 = (1,2,3,4,5)
tuple1 = list(tuple1)
tuple1.append(6)
tuple1 = tuple(tuple1)
print(tuple1)

(1, 2, 3, 4, 5, 6)

## Tuple methods
### count(item) --> return occurence of items in tuple
### index(item) --> return first occurence of item in tuple

In [2]:
tuple2 = (1,1,2,3,1,4,5,3,53,1,3)
print(tuple2.index(3))
print(tuple2.count(1))

3
4

## Dictionary

## Defines with curly bracket '{}' and it is mutable

In [5]:
user = {
    'name':'Taohid',
    'email':'tawhidulbali00@gmail.com',
    'phone':1739051564,
    'address':{
        'Street No.':"JP/J 132",
        'City':'Dhaka',
        'Country':'Bangladesh'
        }
    }

user['address']

{'Street No.': 'JP/J 132', 'City': 'Dhaka', 'Country': 'Bangladesh'}

### add new element to dictionary

In [6]:
user['hobby'] = 'Fifa'
user

{'name': 'Taohid',
 'email': 'tawhidulbali00@gmail.com',
 'phone': 1739051564,
 'address': {'Street No.': 'JP/J 132',
  'City': 'Dhaka',
  'Country': 'Bangladesh'},
 'hobby': 'Fifa'}

## Exercise for dictionary
- Step 1: Define a dictionary called allegiances with these 3 keys:
        1: Luke Skywalker, which has a value of Rebel Alliance.
        2: Darth Vader, which has a value of Galactic Empire.
        3: Obi-Wan Kenobi, which has a value of Jedi Order.
- Step 2: Print the value of Darth Vader.
- Step 3: Change the value of Darth Vader from Galactic Empire to Sith Order.
- Step 4: Add another key as follows: Leia, which has a value of Rebel Alliance.
- Step 5: Print everything

In [7]:
alligiances = {
    'Luke Skywalker':'Rebel Alliance',
    'Darth Vader':'Galactic Empire',
    'Obi-Wan Kenobi':'Jedi Order'
}

print(alligiances['Darth Vader'])
alligiances['Darth Vader'] = 'Sith Order'
alligiances['Leia'] = 'Rebel Alliance'
for key,item in alligiances.items():
  print(f'{key} is {item}')

Galactic Empire
Luke Skywalker is Rebel Alliance
Darth Vader is Sith Order
Obi-Wan Kenobi is Jedi Order
Leia is Rebel Alliance

## Set
- define by set() constructor
- don't support any duplicate

In [12]:
list1 = [1,2,3,3,4,5,5]
list2 = [1,2,3,4]

In [13]:
set1 = set(list1)
set1

{1, 2, 3, 4, 5}

## Set methods
- add(element) --> add non duplicate element to the last
- difference(iterable) --> return difference between main set and given iterable
- intersection(iterable) --> return the common items

In [15]:
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [16]:
set1.difference(list2)

{5, 6}

In [17]:
set1.difference('Taohid')

{1, 2, 3, 4, 5, 6}

In [19]:
set1.difference([2,3,4,5,1]) # re-arranging does not matter

{6}

In [20]:
set1.intersection([2,3,5,1])

{1, 2, 3, 5}

In [21]:
set1.pop()

1

In [22]:
set1.union(list2)

{1, 2, 3, 4, 5, 6}

## Exercise
- Find which strom_tropper include in both group

In [23]:
storm_tropper1 = ['tropper1','tropper2','tropper3','tropper4']
storm_tropper2 = ['tropper5','tropper34','tropper46','tropper1']

set(storm_tropper1).intersection(storm_tropper2)

{'tropper1'}

## Final Exercise

In [31]:
menu = {
    'Burger':('Main',10.5),
    'Soup':('Appitizer',5.0),
    'Ice-Cream':('Desert',4.5),
    'Salad':('Starter',2.05)
}

menu['Stake'] = ('Main',25.0)
menu['Soda'] = ('Drinks',1.75)

menu.pop('Soup')

def display_menu(dic):
  for key,value in dic.items():
    print(f'{key} is {value[0]} and price is {value[1]}')

def count_dish_types(dic):
  dish_info = dict()
  for val in dic.values():
    if not dish_info.get(val[0]):
      dish_info[val[0]] = 1
    else:
      dish_info[val[0]] += 1


  return dish_info


def update_price(dic,dish_name,price):
  dic[dish_name] = list(dic[dish_name])
  dic[dish_name][1] = price
  dic[dish_name] = tuple(dic[dish_name])


display_menu(menu)

dish_type = count_dish_types(menu)
print(dish_type)

update_price(menu, 'Stake',200)
print(menu)

Burger is Main and price is 10.5
Ice-Cream is Desert and price is 4.5
Salad is Starter and price is 2.05
Stake is Main and price is 25.0
Soda is Drinks and price is 1.75
{'Main': 2, 'Desert': 1, 'Starter': 1, 'Drinks': 1}
{'Burger': ('Main', 10.5), 'Ice-Cream': ('Desert', 4.5), 'Salad': ('Starter', 2.05), 'Stake': ('Main', 200), 'Soda': ('Drinks', 1.75)}